/*?reset*/
:root {
    --primary-text-color: #ae1555;
    --secondary-text-color: #740b33;
}

a {
    align-items: center !important;
}

h3 {
    font-family: 'Dosis', sans-serif;
    font-size: 1.5em !important;
}

/*?Utility Classes*/

.title {
    font-size: 2em;
    color: #000000;
    font-weight: 500;
    font-family: 'Arvo', serif;
    margin: 20px 0px 40px 0px;
}

span.sub-title:after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 2px;
    background: var(--primary-text-color);
    margin-left: 7px;
    vertical-align: middle;    
}

span.sub-title:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 2px;
    background: var(--primary-text-color);
    margin-right: 7px;
    vertical-align: middle;
    font-size: 22px;
}

a.primary-button {
    background-color: var(--primary-text-color);
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    /* padding: 10px 15px; */
    transition: .8s ease;
    text-decoration: none;
}

.primary-button:hover {
    background-color: var(--secondary-text-color);
}

a.secondary-button {
    border: 0.5px solid var(--primary-text-color);
    margin-right: 15px;
    border-radius: 6px;
    font-weight: 500;
    transition: .8s ease;
}

.secondary-button:hover {
    border-color: var(--secondary-text-color);
}

.section {
    padding-top: 5em;
}

.span-highlight {
    font-size: 18px;
}

/*?Nav*/
.navbar-brand {
    width: 10%;
}

.nav-item a {
    font-family: 'Poppins', sans-serif;
}

.navbar-expand-lg .navbar-nav a.nav-link {
    /* padding: 8px 20px; */
    transition: .8s ease;
}

.navbar-expand-lg .navbar-nav a.highlight {
    color: var(--primary-text-color);
}

.navbar-expand-lg .navbar-nav a.nav-link:hover {
    color: var(--primary-text-color);
}

/*Center Section*/
.center-section {
    height: 42em;
    background: linear-gradient(#ae1555, #0e777c);
}

.center-text {
    position: absolute;
    top: 35%;
    left: 10%;
}

.center-text h3 {
    font-family: 'Courgette', cursive;
    font-size: 3em !important;
    color: var(--secondary-text-color);
}

.center-text h2 {
    color: #fff;
    font-size: 4em;
}

a.center-button {
    padding: 18px 36px;
}

/*Our-Facility*/
.our-facility i {
    background-color: var(--primary-text-color);
    height: 80px;
    width: 80px;
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    transition: .2s ease;
    border-radius: 2px;
}

.our-facility i:hover {
    transform: scale(-1) rotate(180deg);
    color: #000000;
}

.our-facility i:hover {
    background: var(--secondary-text-color);
}

.facility-card h3 {
    color: #000;
    font-size: 22px;
    margin: 25px 0px;
}

.facility-card {
    margin: 10px 15px;
}

/*Our-Teacher*/
.teacher-detail {
    padding: 18px;
    background-color: #faf6f2;
    transition: .8s ease;
}

.teacher-detail span {
    color: var(--primary-text-color);
    transition: 1s ease-in;
}

.teacher-detail:hover {
    background-color: var(--primary-text-color);
    color: #fff !important;
    cursor: pointer;
}

.teacher-detail:hover span {
    color: #fff;
}

/*Footer*/
footer {
    background: #0c0732;
}

.footer-menu {
    padding: 40px 0px;
    color: #fff;
}

.footer-card img {
    width: 50%;
    margin-bottom: 20px;
}

.footer-card .footer-card-text {
    margin-bottom: 20px;
}

.footer-card .footer-card-address {
    margin-bottom: 10px;
}

.footer-card h3 {
    padding: 10px 0px;
    transition: .8s ease;
}

.footer-card i {
    margin-right: 10px;
}

.footer-card .footer-card-contact {
    margin-bottom: 12px;
}

.footer-card p {
    display: inline-block;
}

.social ul li a i {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.fa-facebook-f {
    background: #38539b;
}

.fa-instagram {
    background-image: linear-gradient(10deg, #efa513, #9007dc);
}

.fa-twitter {
    background: #4ea6ea;
}

.fa-linkedin {
    background: #007ab3;
}

.footer-card h3:hover {
    color: var(--primary-text-color);
}

/*Sub-footer*/
.sub-footer {
    background: #000;
    padding: 10px;
}

.sub-footer span {
    color: #fff;
}
/*Home Page the End*/