/*reset*/
body {
    font-family: 'poppins', sans-serif;
}

:root {
    --primary-text-color: #00AD8D;
    --secondary-text-color: #F05C5C;
}

a {
    text-decoration: none;
    display: inline-block;
}

h3 {
    font-family: 'dosis', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

p {
    font-size: 13px;
    color: #606060;
    line-height: 28px;
}

span {
    font-size: 14px;
}

/* Utility Classes */
.section {
    padding: 4em 0em;
}

.primary-button {
    margin-top: 10px;
}

.our-button {
    background-color: var(--secondary-text-color);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    box-shadow: 5px 4px 13px 0px rgba(239.99999999999997, 92.00000000000001, 95, 0.33);
    transition: .8s ease;
}

.our-button:hover {
    background-color: var(--primary-text-color);
}

.main-title {
    margin-bottom: 1.5em;
}

.title {
    font-size: 2.5em;
    color: #000;
    font-weight: 500;
    font-family: 'arvo', sans-serif;
    margin-top: 12px;
    line-height: 50px;
}

.sub-title {
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: 500;
}

/*Navbar*/
.logo {
    width: 12%;
}

.navbar {
    padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0px 25px;
}

.nav-item .navitem-highlight {
    color: var(--primary-text-color);
}

.nav-item a.nav-link:hover {
    color: var(--primary-text-color);
}

.navbar-contact i {
    font-size: 30px;
    color: var(--primary-text-color);
    margin-right: 10px;
}

.calling {
    font-weight: 500;
}

.calling h3 {
    margin: 0;
}

.calling a {
    color: var(--primary-text-color);
    font-size: 18px;
}

/*Main Carousel*/
.carousel-item img {
    height: 720px;
    object-fit: cover;
}

.carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #000;
    opacity: 0.7;
}

.carousel-caption h4 {
    color: var(--primary-text-color);
}

.carousel-caption p {
    font-size: 22px;
    color: #fff;
}

/*Features*/
.features-card-menu {
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: .5s ease;
}

.features .col-md-3 {
    padding: 0px 15px;
}

.features-card-menu:hover .features-card-img img {
    filter: brightness(0) invert(1);
}

.features-card-menu:hover p {
    color: #fff;
}

.features-card-menu:hover {
    background-color: var(--primary-text-color);
    color: #fff;
}

/*Yoga Benefit*/
.yoga-benefit .benefit-card-info {
    margin-left: 20px;
}

.yoga-benefit .benefit-card-info p {
    font-size: 14px;
    word-spacing: 1px;
}

.yoga-benefit .benefit-card-point span {
    display: block;
    line-height: 35px;
    color: #606060;
}

.yoga-benefit .benefit-card-point i {
    color: var(--primary-text-color);
    margin-right: 8px;
    font-size: 20px;
}

/*Mini Section*/
.mini-section .col-md-1 {
    margin: 0px 76px;
}

.mini-section-img img {
    opacity: .6;
}

.mini-section-img img:hover {
    opacity: 1;
}

/*Trainer*/
.trainer-section .trainer-img {
    overflow: hidden;
    border-radius: 12px;
}

.trainer-section .trainer-img img {
    transition: .8s ease;
}

.trainer-section .trainer-img img:hover {
    transform: scale(1.1);
}

.trainer-section .trainer-info {
    padding: 20px;
}

.trainer-section .trainer-info h3 {
    font-size: 1.8em;
    transition: .8s ease;
}

.trainer-section .trainer-info h3:hover {
    color: var(--primary-text-color);
}

.trainer-section .trainer-info span {
    transition: .8s ease;
    cursor: pointer;
}

.trainer-section .trainer-info span:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}