/*reset*/
body {
    font-family: 'poppins', sans-serif;
}

:root {
    --primary-text-color: #00AD8D;
    --secondary-text-color: #F05C5C;
}

a {
    text-decoration: none;
    display: inline-block;
}

h3 {
    font-family: 'dosis', sans-serif;
    font-size: 1.8em;
}

h4 {
    font-family: 'dosis', sans-serif;
    font-size: 1.5em;
    margin: 12px 0px;
}

p {
    font-size: 13px;
    color: #606060;
    line-height: 28px;
}

span {
    font-size: 14px;
}

/* Utility Classes */
.section {
    padding: 4em 0em;
}

.primary-button {
    margin-top: 3.5em;
}

.our-button {
    background-color: var(--secondary-text-color);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    box-shadow: 5px 4px 13px 0px rgba(239.99999999999997, 92.00000000000001, 95, 0.33);
    transition: .8s ease;
}

.our-button:hover {
    background-color: var(--primary-text-color);
}

.main-title {
    margin-bottom: 2.5em;
}

.title {
    font-size: 2.5em;
    color: #000;
    font-weight: 500;
    font-family: 'arvo', sans-serif;
    margin: 18px 0px;
    line-height: 50px;
}

.sub-title {
    font-size: 16px;
    color: var(--primary-text-color);
    font-weight: 500;
}

/*Navbar*/
.navbar-menu {
    padding: 0em 5.5em;
}

header .logo {
    width: 12%;
}

header .navbar {
    padding: 0px;
}

header .navbar-expand-lg .navbar-nav .nav-link {
    padding: 28px 25px;
}

nav .nav-item a {
    color: #000;
}

header .nav-item .navitem-highlight {
    color: var(--primary-text-color);
}

header .nav-item a.nav-link:hover {
    color: var(--primary-text-color);
}

header .navbar-contact i {
    font-size: 30px;
    color: var(--primary-text-color);
    margin-right: 10px;
}

header .calling {
    font-weight: 500;
}

header .calling h3 {
    margin: 0;
}

header .calling a {
    color: var(--primary-text-color);
    font-size: 18px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    border-top: 4px solid var(--primary-text-color);
    border-left: 4px solid var(--primary-text-color);
}

.navbar-expand-lg .dropdown-menu li a {
    transition: .2s ease;
}

.navbar-expand-lg .dropdown-menu li a:hover {
    color: var(--primary-text-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*Main Carousel*/
.carousel-section .carousel-item img {
    height: 720px;
    object-fit: cover;
}

.carousel-section .carousel-item::before {
    content: '';
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background-color: #000;
    opacity: 0.5;
}

.carousel-section .carousel-caption h4 {
    color: var(--primary-text-color);
    font-size: 2.5em;
}

.carousel-section .carousel-caption p {
    font-size: 25px;
    color: #fff;
}

.carousel-caption {
    top: 65%;
}

.carousel-indicators {
    top: 85%;
}

/*Features*/
.features-section .features-card-menu {
    padding: 30px 30px 0px 30px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: .5s ease;
}

.features-card-menu:hover .features-card-img img {
    filter: brightness(0) invert(1);
}

.features-section .features-card-info h3 {
    font-size: 18px;
}

.features-card-menu:hover p {
    color: #fff;
}

.features-card-menu:hover {
    background-color: var(--primary-text-color);
    color: #fff;
}

/*Yoga Benefit*/
.benefit-section .benefit-card-img img {
    border-radius: 50%;
    margin: 20px 0px 0px 60px;
}

.benefit-section .benefit-card-info {
    margin-left: 20px;
}

.benefit-section .benefit-card-info p {
    font-size: 14px;
    word-spacing: 1px;
}

.benefit-section .benefit-card-point span {
    display: block;
    line-height: 35px;
    color: #606060;
}

.benefit-section .benefit-card-point i {
    color: var(--primary-text-color);
    margin-right: 8px;
    font-size: 20px;
}

/*Mini Section*/
.mini-section .mini-section-img {
    width: 50%;
    margin: 0 auto;
}

.mini-section .mini-section-img img {
    opacity: .6;
}

.mini-section .mini-section-img img:hover {
    opacity: 1;
}

/*Trainer*/
.trainer-section .trainer-img {
    overflow: hidden;
    border-radius: 12px;
}

.trainer-section .trainer-img img {
    transition: .8s ease;
}

.trainer-section .trainer-img img:hover {
    transform: scale(1.1);
}

.trainer-section .trainer-info {
    padding: 20px;
}

.trainer-section .trainer-info h3 {
    transition: .2s ease;
}

.trainer-section .trainer-info h3:hover {
    color: var(--primary-text-color);
}

.trainer-section .trainer-info span {
    transition: .2s ease;
    cursor: pointer;
}

.trainer-section .trainer-info span:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

/*Our Classes*/
.classes-section .classes-card-img {
    transition: .2s ease;
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.classes-section .classes-card-img img {
    transition: .8s ease;
}

.classes-section .classes-card-info h3 {
    transition: .2s ease;
}

.classes-section .classes-card-info h3:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

.classes-section .classes-card-info span:hover {
    color: var(--primary-text-color);
    cursor: pointer;
}

.classes-section .classes-card-info {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.09);
}

.classes-section .classes-card-info {
    padding: 30px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.classes-section .classes-card-info span i {
    color: var(--primary-text-color);
    margin-right: 10px;
}

.classes-card:hover img {
    transform: scale(1.1);
}

.classes-card:hover .classes-card-info {
    box-shadow: 3px 9px 10px rgba(53, 52, 52, 0.11);
}

.item {
    padding: 20px;
}

.owl-nav .owl-prev {
    position: absolute;
    top: 40%;
    left: -3%;
}

.owl-nav .owl-next {
    position: absolute;
    top: 40%;
    right: -3%;
}

.owl-nav span {
    font-size: 35px;
    color: gray;
    font-size: 4em;
    transition: .8s ease;
}

.owl-nav span:hover {
    color: var(--primary-text-color);
}

.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent;
    color: #FFF;
    text-decoration: none;
}

/*Review*/
.review-section .review-card {
    background-color: #fff;
    padding: 25px 50px;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.09);
    transition: .8s ease;
}

.review-section .review-card:hover {
    box-shadow: 3px 9px 10px rgba(53, 52, 52, 0.11);
}

.review-section .review-card p {
    font-size: 14px;
}

.review-section .user-review-info {
    margin-top: 25px;
}

.review-section .user-review-img {
    width: 12%;
    margin-right: 30px;
}

.review-section .user-review-img img {
    border-radius: 50%;
}

.review-section .user-review-contact span {
    color: var(--primary-text-color);
}

/*Video*/
.review-section .video-title {
    margin: 4em 0em;
}

.review-section .video-title h2 {
    font-size: 2em;
}

.review-section .watch-video .video {
    overflow: hidden;
    border-radius: 10px;
}

.review-section .watch-video .video img {
    transition: .8s ease;
}

.review-section .watch-video .video:hover img {
    transform: scale(1.1);
}

.review-section .watch-video .video {
    position: relative;
}

.review-section .watch-video .video-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.review-section .video-icon i {
    color: var(--primary-text-color);
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 36px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 83px;
    padding-left: 4px;
    transition: .8s ease;
}

.review-section .video:hover i {
    font-size: 40px;
    transform: scale(1.2);
}

.review-section .watch-video .video-icon {
    animation: ripple;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    border-radius: 50%;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 #fff4, 0 0 0 0 #fff4;
    }

    70% {
        box-shadow: 0 0 0 15px #fff4, 0 0 0 15px #fff4;
    }

    100% {
        box-shadow: 0 0 0 15px #fff1, 0 0 0 15px #fff1;
    }
}

/*Blog*/
.blog-section .blog-card i {
    color: var(--primary-text-color);
}

.blog-section .blog-card-info {
    padding: 30px;
}

.blog-section .blog-card h3 {
    margin: 20px 0px;
    letter-spacing: 1px;
}

.blog-section .blog-card i {
    margin-right: 10px;
}

.blog-section .blog-card-info {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.09);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.blog-section .blog-card-img {
    overflow: hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.blog-section .blog-card-img img {
    transition: .8s ease;
}

.blog-section .blog-card:hover img {
    transform: scale(1.1);
}

.blog-section .blog-card {
    transition: .8s ease;
}

.blog-section .blog-card:hover {
    box-shadow: 3px 9px 10px rgba(53, 52, 52, 0.11);
}

.blog-section .blog-bottom-info {
    margin-top: 1.5em;
}

.blog-section .blog-bottom-info a {
    text-decoration: underline;
    color: var(--primary-text-color);
    font-size: 22px;
    padding-left: 10px;
}

/*Subscribe*/
.subscribe-section {
    background-color: oldlace;
}

.subscribe-section .main-title {
    margin: 4em;
}

.subscribe-section .subscribe-input {
    margin-bottom: 4em;
}

.subscribe-section .subscribe-input form input[type="email"] {
    height: 50px;
    padding: 0px 30px;
    border-radius: 50px 0 0 50px;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    border-color: rgba(27, 35, 54, 0.50);
    outline-color: var(--primary-text-color);
}

.subscribe-section .subscribe-input form input[type="submit"] {
    position: relative;
    left: -5px;
    padding: 0px 30px;
    border-radius: 0 50px 50px 0;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #606060;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--secondary-text-color);
    color: #fff;
}

/*Footer-Section*/
article {
    position: relative;
    width: 100%;
    z-index: 10;
    background-color: #fff;
    margin-bottom: 466px;
}

.footer-section {
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer {
    background-color: #0c0732;
    color: #fff;
    padding: 4em 0em;
}

footer .footer-card h3 {
    margin-bottom: 30px;
    transition: .8s ease;
}

footer .footer-card h3:hover {
    color: var(--primary-text-color);
}

footer .footer-card span {
    display: block;
}

footer .follow-us span i {
    border: 1px solid #fff;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
    border-radius: 2px;
}

footer .footer-card .footer-address span i {
    margin: 22px 12px 12px 0px;
}

footer .footer-card .usefull-link li a {
    margin: 5px 12px 12px 0px;
    padding: 1px 0px;
}

footer .contact-us form input {
    background-color: #0c0732;
    margin: 5px 0px;
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
    border-radius: 2px;
}

footer .footer-card .usefull-link i {
    margin-right: 8px;
}

footer .contact-us form textarea {
    background-color: #0c0732;
    width: 72%;
    margin: 5px 0px;
    border: 1px solid #fff;
    padding: 8px;
    color: #fff;
    border-radius: 2px;
}

footer .contact-us form a {
    border-radius: 6px;
    padding: 5px 50px;
}

footer .footer-card .follow-us span i {
    margin: 10px 8px 8px 0px;
}

footer .follow-us .fa-facebook-f {
    background-color: #38539b;
}

footer .follow-us .fa-instagram {
    background-image: linear-gradient(10deg, #efa513, #9007dc);
}

footer .follow-us .fa-twitter {
    background-color: #4ea6ea;
}

footer .follow-us .fa-linkedin {
    background-color: #007ab3;
}

/*Sub-Footer*/
.sub-footer {
    background-color: #000;
    padding: 1.2em;
    color: #aaa;
    font-size: 13px;
}

/*Scroll Button*/
.scroll-section .scroll {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: var(--primary-text-color);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    display: none;
    cursor: pointer;
    z-index: 99999;
}

/*------------Home Section The End----------*/
/*------------********************----------*/

/*------------Trainers-Page-Start-----------*/
/*------------********************----------*/

/*Hero Secton*/
.hero-section {
    position: relative;
}

.center-image {
    height: 350px;
    background: url(../images/asset\ 46.jpeg) no-repeat fixed;
    background-size: contain;
}

.color-section {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(27, 35, 54, 0.7);
}

.hero-section .main-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-section .main-title h2 {
    color: #fff;
}

.hero-section .main-title span {
    color: #fff;
}

/*Center-section*/
.balance-section .balance-card {
    overflow: hidden;
}

.balance-section .balance-card {
    border-radius: 12px;
}

.balance-section .balance-card img {
    transition: .8s ease;
}

.balance-section .balance-card img:hover {
    transform: scale(1.1);
}

/*Trainer*/
.our-trainer-section .trainer-info {
    box-shadow: 3px 9px 10px rgba(53, 52, 52, 0.11);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 25px 0px;
}

.our-trainer-section .trainer-card {
    margin: 40px 0px;
}

.our-trainer-section .trainer-img img {
    transition: .8s ease;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.our-trainer-section .trainer-img {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

/*Our-Trainer Overlay*/
.trainer-img-overlay span {
    display: block;
    line-height: 35px;
}
.trainer-img-overlay span i{
    margin: 0px 10px;
}
.trainer-img-overlay span:nth-child(5){
    font-size: 16px;
}

.trainer-img-overlay img {
    border-radius: 50% !important;
    width: 50%;
    border: 2px solid #fff;
}

.trainer-img {
    position: relative;
}

.trainer-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: var(--primary-text-color);
    color: #fff;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease-out;
    border-radius: 12px;
}

.trainer-overlay-item {
    padding: 55px 0px;
}

.trainer-img:hover .trainer-img-overlay {
    height: 100%;
}

/*Biography-Section*/
.biography-card {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.09);
    border-radius: 12px;
    padding: 70px 20px;
}

.biography-section .biography-image img {
    border-radius: 50%;
}

.biography-image {
    padding: 0px 20px;
}

.biography-section .biography-info {
    padding: 0px 20px;
}

.biography-section .biography-info h2 {
    font-size: 3em;
}

.biography-section .biography-info .main-title {
    margin-bottom: 5em;
}

.biography-section .biography-social-icon {
    margin: 2em 0px;
}

.biography-section .biography-social-icon a {
    margin: 0px 5px;
    color: var(--primary-text-color);
    border: 1px solid #ccc;
    height: 32px;
    width: 32px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
}

.biography-call h5 {
    font-weight: 600;
}

.biography-section .skill {
    margin: 50px 0px;
    font-size: 18px;
}

/*Our-Classes-Page*/
.join-section .join-card {
    padding: 40px 35px 40px 35px;
    box-shadow: 5px 4px 13px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 3em;
    transition: .8s ease;
}

.join-section .join-card i {
    color: var(--primary-text-color);
    font-size: 25px;
    margin-bottom: 12px;
}

.join-section .join-card:hover {
    box-shadow: 5px 4px 13px 0px rgba(0, 0, 0, 0.3);
}

/*Our-classes-Section*/
.our-classes-section .classes-card {
    margin: 1em 0em;
}

/*-------------About-Page-------------*/
/*-------------*********-------------*/
/*Location-Section*/
.location-section .location-card i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 22px;
    text-align: center;
    color: var(--primary-text-color);
    border-radius: 50%;
    border: 1px solid var(--primary-text-color);
}

.location-section .location-info {
    margin-top: 1em;
}

.location-section .location-info span {
    font-size: 22px;
    font-weight: 500;
}